/* a:hover {
    color: 
} */

.day:hover {
    background-color: rgba(20, 20, 20, 0.1);
}

.table {
    width: 100%;
    table-layout: fixed;
}

td,
.link_event_edit {
    position: relative;
}

.day_header > a:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.table td {
    height: 100px;
}

.otherMonth {
    opacity: 0.4;
}